In [2]:
import talib.abstract as ta
import FinanceDataReader as fdr

In [7]:
df = fdr.DataReader("005930","2010-01-01","2011-01-01")
df.rename(columns=lambda col:col.lower(),inplace=True)
df

             open   high    low  close  volume    change
Date
2010-01-04  16060  16180  16000  16180  239271  0.012516
2010-01-05  16520  16580  16300  16440  559219  0.016069
2010-01-06  16580  16820  16520  16820  459755  0.023114
2010-01-07  16820  16820  16260  16260  443237 -0.033294
2010-01-08  16400  16420  16120  16420  295798  0.009840
...           ...    ...    ...    ...     ...       ...
2010-12-24  18780  18780  18500  18500  169733 -0.011752
2010-12-27  18500  18600  18300  18440  210673 -0.003243
2010-12-28  18560  19000  18520  18760  313323  0.017354
2010-12-29  18700  19020  18640  18900  238527  0.007463
2010-12-30  18840  19040  18840  18980  183831  0.004233

[251 rows x 6 columns]

In [18]:
talib_ma5

array([   nan,    nan,    nan,    nan, 16424., 16376., 16324., 16148.,
       16204., 16288., 16472., 16528., 16676., 16768., 16700., 16696.,
       16664., 16528., 16360., 16196., 15936., 15764., 15672., 15544.,
       15408., 15292., 15248., 15160., 15108., 15108., 15140., 15212.,
       15292., 15280., 15372., 15416., 15308., 15152., 15088., 15076.,
       15092., 15128., 15284., 15452., 15516., 15568., 15636., 15648.,
       15576., 15492., 15548., 15624., 15728., 15860., 16036., 16120.,
       16208., 16272., 16340., 16360., 16356., 16460., 16608., 16816.,
       17036., 17200., 17272., 17268., 17108., 16944., 16888., 16856.,
       16824., 16812., 16812., 16840., 16784., 16712., 16740., 16768.,
       16660., 16596., 16672., 16652., 16648., 16604., 16480., 16296.,
       16144., 15964., 15960., 16024., 15948., 15952., 15888., 15660.,
       15452., 15280., 15112., 15108., 15196., 15268., 15376., 15484.,
       15568., 15604., 15640., 15648., 15632., 15648., 15728., 15780.,
       15976., 16152., 16252., 16344., 16416., 16360., 16372., 16304.,
       16168., 16072., 15948., 15732., 15580., 15464., 15396., 15376.,
       15412., 15528., 15668., 15752., 15972., 16152., 16176., 16148.,
       16156., 16128., 16080., 16116., 16208., 16332., 16412., 16488.,
       16484., 16452., 16396., 16272., 16180., 16144., 16112., 16024.,
       15916., 15764., 15684., 15604., 15560., 15556., 15648., 15660.,
       15692., 15696., 15672., 15608., 15536., 15480., 15372., 15292.,
       15236., 15216., 15232., 15360., 15436., 15424., 15444., 15404.,
       15292., 15236., 15240., 15268., 15308., 15316., 15308., 15260.,
       15256., 15244., 15304., 15404., 15516., 15600., 15572., 15496.,
       15388., 15280., 15084., 15004., 14988., 14980., 14960., 14964.,
       15024., 15116., 15196., 15284., 15316., 15312., 15184., 15088.,
       14996., 14944., 14940., 15064., 15188., 15324., 15524., 15540.,
       15548., 15668., 15816., 15836., 15964., 16124., 16284., 16400.,
       16624., 16808., 16884., 16836., 16780., 16656., 16712., 16940.,
       17156., 17456., 17728., 17960., 18060., 18220., 18332., 18444.,
       18420., 18448., 18456., 18484., 18576., 18676., 18672., 18632.,
       18640., 18664., 18716.])

In [23]:
# ta-lib로 5기간 종가 이동평균 계산
talib_ma5 = ta.MA(df, timeperiod=5,matype=1)
talib_ma5
# pandas 기능을 이용하여 5기간 이동평균 계산
# pandas_ma5 = df.close.rolling(window=5).mean() 

# talib_ma5.equals(pandas_ma5)

Date
2010-01-04             NaN
2010-01-05             NaN
2010-01-06             NaN
2010-01-07             NaN
2010-01-08    16424.000000
                  ...
2010-12-24    18604.470828
2010-12-27    18549.647219
2010-12-28    18619.764812
2010-12-29    18713.176542
2010-12-30    18802.117694
Length: 251, dtype: float64

In [ ]:
ta.