In [1]:
from trading import *

In [2]:
case_Trading = Trading()
start = datetime(2020,1,1)
end = datetime(2021,1,1)
case_Trading.searchByTarget(targetStrategy='ma',targetGroup=['005930','000660'],targetPeriodStart=start,targetPeriodEnd=end)
# case_Trading.makeTargetResult(tradeTarget=case_Trading.listTradeTarget,targetPeriodStart=start ,targetPeriodEnd=end)
print(case_Trading.listTradeTarget)
# print(case_Trading.dfTradeResult)

[('005930', Timestamp('2020-02-05 00:00:00')), ('005930', Timestamp('2020-02-11 00:00:00')), ('005930', Timestamp('2020-02-19 00:00:00')), ('005930', Timestamp('2020-04-06 00:00:00')), ('005930', Timestamp('2020-05-19 00:00:00')), ('005930', Timestamp('2020-05-26 00:00:00')), ('005930', Timestamp('2020-06-16 00:00:00')), ('005930', Timestamp('2020-06-24 00:00:00')), ('005930', Timestamp('2020-06-26 00:00:00')), ('005930', Timestamp('2020-07-03 00:00:00')), ('005930', Timestamp('2020-09-08 00:00:00')), ('005930', Timestamp('2020-09-28 00:00:00')), ('005930', Timestamp('2020-10-05 00:00:00')), ('005930', Timestamp('2020-11-05 00:00:00')), ('000660', Timestamp('2020-01-29 00:00:00')), ('000660', Timestamp('2020-02-06 00:00:00')), ('000660', Timestamp('2020-03-25 00:00:00')), ('000660', Timestamp('2020-03-30 00:00:00')), ('000660', Timestamp('2020-04-06 00:00:00')), ('000660', Timestamp('2020-04-22 00:00:00')), ('000660', Timestamp('2020-04-27 00:00:00')), ('000660', Timestamp('2020-05-08 00:00:00')), ('000660', Timestamp('2020-05-20 00:00:00')), ('000660', Timestamp('2020-05-28 00:00:00')), ('000660', Timestamp('2020-06-01 00:00:00')), ('000660', Timestamp('2020-06-16 00:00:00')), ('000660', Timestamp('2020-07-06 00:00:00')), ('000660', Timestamp('2020-07-21 00:00:00')), ('000660', Timestamp('2020-07-30 00:00:00')), ('000660', Timestamp('2020-09-03 00:00:00')), ('000660', Timestamp('2020-09-11 00:00:00')), ('000660', Timestamp('2020-11-05 00:00:00'))]

In [14]:
case_Trading.dfTradeResult.index[0].day()

TypeError: 'int' object is not callable

In [8]:
case_Trading.dfTradeResult.fillna(value=1,inplace=True)

              005930    000660
Date
2020-01-02  1.000000  1.000000
2020-01-03  1.000000  1.000000
2020-01-06  1.000000  1.000000
2020-01-07  1.000000  1.000000
2020-01-08  1.000000  1.000000
...              ...       ...
2020-12-23  1.022130  1.031111
2020-12-24  1.052774  1.017241
2020-12-28  1.011568  0.978814
2020-12-29  0.994917  1.004329
2020-12-30  1.034483  1.021552

[248 rows x 2 columns]

In [3]:
case_Trading.makeTargetResult(tradeTarget=case_Trading.listTradeTarget,targetPeriodStart=start ,targetPeriodEnd=end)

In [2]:
case = Trading()
case.close

,095570,006840,027410,282330,138930,001460,001465,001040,079160,00104K,...,066330,032590,042570,058680,012460,012990,014827,032710,015670,015675
Date,,,,,,,,,,,,,,,,,,,,,
1990-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-27,5980.0,27300.0,6200.0,174500.0,8260.0,472500.0,188500.0,100500.0,29350.0,82000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-28,5900.0,27050.0,6050.0,173000.0,8590.0,456000.0,185000.0,99900.0,29100.0,81800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-29,5850.0,26700.0,5970.0,173000.0,8580.0,446500.0,183000.0,98000.0,29600.0,80800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-30,5840.0,26950.0,5980.0,170500.0,8840.0,444500.0,186000.0,98800.0,29700.0,81700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-01,5770.0,26800.0,5680.0,171000.0,8810.0,432500.0,184500.0,97100.0,29200.0,80800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
close1 = case.close

In [11]:
close2 = close1.loc[datetime(2020,1,1):datetime(2021,1,1),['005930','000660']]

In [34]:
close2.rolling(20).mean().loc[datetime(2020,5,1):datetime(2021,1,1),:]

             005930    000660
Date
2020-05-04  49180.0   82655.0
2020-05-06  49300.0   82775.0
2020-05-07  49390.0   82915.0
2020-05-08  49395.0   83010.0
2020-05-11  49335.0   82945.0
...             ...       ...
2020-12-23  71655.0  112585.0
2020-12-24  72145.0  113515.0
2020-12-28  72670.0  114350.0
2020-12-29  73250.0  115275.0
2020-12-30  73910.0  116175.0

[166 rows x 2 columns]

In [22]:
seriesClose = close2['005930']
seriesMA = close2['005930'].rolling(20).mean()

In [26]:
seriesClose

Date
2020-01-02    55200.0
2020-01-03    55500.0
2020-01-06    55500.0
2020-01-07    55800.0
2020-01-08    56800.0
               ...
2020-12-23    73900.0
2020-12-24    77800.0
2020-12-28    78700.0
2020-12-29    78300.0
2020-12-30    81000.0
Name: 005930, Length: 248, dtype: float64

In [36]:
a = [(1,2),(2.1,3)]
# pd.DataFrame(a)
for i,j in a:
    print(i,j)

1 2
2.1 3

In [43]:
a = []
[c for c,d in a]

[]

In [25]:
seriesClose - seriesMA

Date
2020-01-02       NaN
2020-01-03       NaN
2020-01-06       NaN
2020-01-07       NaN
2020-01-08       NaN
               ...
2020-12-23    2245.0
2020-12-24    5655.0
2020-12-28    6030.0
2020-12-29    5050.0
2020-12-30    7090.0
Name: 005930, Length: 248, dtype: float64

In [31]:
seriesClose[datetime(2020,1,2)]

55200.0

In [ ]:
for i in range(len(seriesClose)):

In [23]:
seriesSignal = [1 if close>ma else 0 for close,ma in zip(seriesClose, seriesMA)]
seriesSignal

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [ ]:
for signal in seriesSignal:

In [18]:
ma.columns

Index(['005930', '000660'], dtype='object')

In [13]:
ma = close2.rolling(20).mean()

In [ ]:
# 변수 저장, 불러오기a

In [ ]:
def defineUniverse()

In [ ]:
def makeResult()

In [ ]:
def searchByTarget(targetStrategy : str, targetGroup : str=None, targetPeriodStart : datetime=None, targetPeriodEnd : datetime=None):
    
    if not 
    if (targetStrategy == "ma"
        
        movingAverage = dfChange['Close'].rolling(daysForMABuy).mean()


    listStockCode
    listDateBuy

# 나중에 일자별로도 분리할 수 있도록.
    return pd.DataFrame({stock_code':listStockCode, 'date':listDateBuy})