In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("QuantKing(2018.10-19).xlsx",sheet_name='x',header=[0,1],index_col=[0])
df.columns.names=['','']

In [ ]:
#  columns
stock_code,period,,당기순이익,매출액,매출원가,매출총이익,부채,영업이익,영업활동현금흐름,지배순이익,지배자산,총자산,판관비,현금
총자산, 부채, 지배자산,현금
매출액,매출원가,매출총이익,판관비,영업이익,당기순이익,지배순이익
영업활동현금흐름

pd.DataFrame(columns=)

시총 : 분기 시총
매출 : 분기단위 매출
영익 : 분기단위 영업이익
순익 : 분기단위 지배순이익

연간매출 : 4분기 매출
연간영익 : 
연간순익 : 
매출원가율 : 4분기 매출원가율
매출총이익율 : 4분기 매출총이익율
판관비율 : 4분기(?)
ROE, ROA
부채비율
EPS, BPS, SPS, PER, PBR, PSR (o)
EV
EBITDA
EV/EBITDA
부채비율, 차입율
영업활동현금흐름
투자활동현금흐름
재무활동현금흐름
비영업손익, 금융손익

In [176]:
stockCode = 'A005930'
listCategory = ['연간매출','연간영익','연간순익','매출총이익율','판관비율','영업활동현흐','총자산','자본총계','시총',
               'EV/EBITDA','부채비율','차입율']
dicNameConveted = {'연간매출':'매출액','연간영익':'영업이익','연간순익':'지배순이익','영업활동현흐':'영업활동현금흐름',
                  '자본총계':'지배자산'}
# listCategory=['총자산']
dfAll = pd.DataFrame()
for stockCode in df.index:
    try:
        dfStock = pd.DataFrame(columns = ['stock_code','period'])
        for Category in listCategory:
            listValue = list(df.loc[stockCode,[Category]])[::-1]
            listPeriod = [i[1][:5] for i in df.loc[stockCode,[Category]].index][::-1]
            listValueTemp = []
            listPeriodTemp = []
            for i in range(len(listPeriod)):
                if listPeriod[i][-1] == 'Q':
                    periodConverted = '20%s'%(listPeriod[i][0:2])+'%02d'%(int(listPeriod[i][3])*3)
                    if periodConverted not in listPeriodTemp:
                        listValueTemp.append(listValue[i])
                        listPeriodTemp.append(periodConverted)
                elif (listPeriod[i][-1] == '년') and (listPeriod[i] != "내년"):
                    for month in ['12','09','06','03']:
                        periodConverted = '20%02d'%int(listPeriod[i][:-1])+month
                        if periodConverted not in listPeriodTemp:
                            listValueTemp.append(listValue[i])
                            listPeriodTemp.append(periodConverted)
            if Category in dicNameConveted:
                Category = dicNameConveted[Category]

            df_stock_temp = pd.DataFrame({'period':listPeriodTemp,Category:listValueTemp})
            df_stock_temp['stock_code'] = stockCode[1:]
            dfStock = pd.merge(dfStock,df_stock_temp,on=['stock_code','period'],how='outer')
        dfStock['매출총이익'] = dfStock['매출액']*dfStock['매출총이익율']/100
        dfStock = dfStock[['stock_code','period','총자산','지배자산','매출액','매출총이익','영업이익','지배순이익','영업활동현금흐름',
                          'EV/EBITDA','부채비율','차입율']]

        dfAll = pd.concat([dfAll,dfStock],axis=0)
    except:
        print(stockCode)
dfAll

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

,stock_code,period,총자산,지배자산,매출액,매출총이익,영업이익,지배순이익,영업활동현금흐름,EV/EBITDA,부채비율,차입율
0,005930,201809,NaN,NaN,2500248.0,NaN,631582.0,474733.0,NaN,NaN,NaN,NaN
1,005930,201806,3.186884e+06,2.331248e+06,2470737.0,1.151611e+06,601914.0,456494.0,681928.0,4.13,37.0,7.0
2,005930,201803,3.124731e+06,2.232599e+06,2495915.0,1.165592e+06,593889.0,454678.0,671812.0,4.66,40.0,6.0
3,005930,201712,3.017521e+06,2.144914e+06,2395753.0,1.102765e+06,536451.0,413445.0,621621.0,5.19,41.0,9.0
4,005930,201709,2.965786e+06,2.106913e+06,2269286.0,1.024810e+06,477189.0,362454.0,514565.0,5.67,41.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...
36,010400,200909,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0
37,010400,200906,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0
38,010400,200903,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0
39,010400,200812,NaN,NaN,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0
40,010400,201812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
dfAll['당기순이익'] = None
dfAll['매출원가'] = None

In [185]:
# dfAll.reset_index(drop=True,inplace=True)
dfAll = dfAll.astype({'period':np.int64})

In [186]:
dfAll

,stock_code,period,총자산,지배자산,매출액,매출총이익,영업이익,지배순이익,영업활동현금흐름,EV/EBITDA,부채비율,차입율,당기순이익,매출원가
0,005930,201809,NaN,NaN,2500248.0,NaN,631582.0,474733.0,NaN,NaN,NaN,NaN,None,None
1,005930,201806,3.186884e+06,2.331248e+06,2470737.0,1.151611e+06,601914.0,456494.0,681928.0,4.13,37.0,7.0,None,None
2,005930,201803,3.124731e+06,2.232599e+06,2495915.0,1.165592e+06,593889.0,454678.0,671812.0,4.66,40.0,6.0,None,None
3,005930,201712,3.017521e+06,2.144914e+06,2395753.0,1.102765e+06,536451.0,413445.0,621621.0,5.19,41.0,9.0,None,None
4,005930,201709,2.965786e+06,2.106913e+06,2269286.0,1.024810e+06,477189.0,362454.0,514565.0,5.67,41.0,9.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84168,010400,200909,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0,None,None
84169,010400,200906,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0,None,None
84170,010400,200903,2.963721e+02,2.171940e+02,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0,None,None
84171,010400,200812,NaN,NaN,0.0,0.000000e+00,0.0,0.0,0.0,0.00,39.0,0.0,None,None
84172,010400,201812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None

In [187]:
import pickle
with open('Raw_Finance/finance_quantking_201809.pickle','wb') as handle:
    pickle.dump(dfAll, handle, protocol=pickle.HIGHEST_PROTOCOL)